<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pt-3 pb-3 d-flex justify-content-between">
            <span class="card-title"><b>clientes</b></span>
            <button
              class="btn btn-sm btn-primary"
              (click)="toggleCreateUserForm()"
            >
              <i
                class="fas"
        
              ></i>
              Crear
            </button>
          </div>
          <div class="card-body h-table">
            <div class="col-md-12 d-flex justify-content-end w-100">
              <form>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar Clientes"
                  />
                  <span class="input-group-text pointer bg-principal">
                    <i class="fas fa-search text-white"></i>
                  </span>
                </div>
              </form>
            </div>
            <table style="text-align: center;" class="table table-sm table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Fecha Registro</th>
                  <th>Estado</th>
                  <th>Razón Social</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listData">
                  <td>{{ item.Id }}</td>
                  <td>{{ item.Nombre }}</td>
                  <td>{{ item.FechaCreacion | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td>{{ item.Estado ? 'Activo' : 'Inactivo' }}</td>
                  <td>{{ item.RazonSocial }}</td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-warning" >
                      <i class="fas fa-edit"></i> 
                    </button>
                    <div class="vr mx-1 p-0"></div>
                    <button class="btn btn-sm btn-danger" >
                      <i class="fas fa-ban"></i> 
                    </button>
                  </td>
                </tr>
                <tr *ngIf="listData.length === 0">
                  <td class="text-center" colspan="6">No hay clientes</td>
                </tr>
              </tbody>
            </table>
            
            
          </div>
        </div>
      </div>

    </div>
  </div>
  

  
  <div
  class="modal fade"
  id="modalmypass"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Modal Header with Close Icon -->
      <div class="modal-header">
        <h5 class="modal-title">Crear Nuevo Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <div class="col-md-12 pb-3">
          <div class="row">
            <!-- First Row: Nombre and Descripcion -->
            <div class="col-md-6">
              <label for="nombre" class="form-label text-black">Nombre</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Nombre" autocomplete="off" name="Nombre" id="nombre" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="descripcion" class="form-label text-black">Descripción</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Descripción" autocomplete="off" name="Descripcion" id="descripcion" />
              </div>
            </div>

            <!-- Second Row: RazonSocial and TipoDocumentoId -->
            <div class="col-md-6">
              <label for="razonSocial" class="form-label text-black">Razón Social</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Razón Social" autocomplete="off" name="RazonSocial" id="razonSocial" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="tipoDocumentoId" class="form-label text-black">Tipo Documento</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control h-46" placeholder="Tipo Documento ID" autocomplete="off" name="TipoDocumentoId" id="tipoDocumentoId" />
              </div>
            </div>

            <!-- Third Row: PaisId and NumeroDocumento -->
            <div class="col-md-6">
              <label for="paisId" class="form-label text-black">País</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control h-46" placeholder="País ID" autocomplete="off" name="PaisId" id="paisId" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="numeroDocumento" class="form-label text-black">Número Documento</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Número Documento" autocomplete="off" name="NumeroDocumento" id="numeroDocumento" />
              </div>
            </div>

            <!-- Fourth Row: ReferenciaWLL and ReferenciaPH -->
            <div class="col-md-6">
              <label for="referenciaWLL" class="form-label text-black">Referencia WLL</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Referencia WLL" autocomplete="off" name="ReferenciaWLL" id="referenciaWLL" />
              </div>
            </div>
            <div class="col-md-6">
              <label for="referenciaPH" class="form-label text-black">Referencia PH</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control h-46" placeholder="Referencia PH" autocomplete="off" name="ReferenciaPH" id="referenciaPH" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>


