<div class="container">
    <div class="row">
      <div [class.col-md-8]="showForm" [class.col-md-12]="!showForm">
        <div class="card">
          <div class="card-header pt-3 pb-3 d-flex justify-content-between">
            <span class="card-title"><b>Usuarios</b></span>
            <button class="btn btn-sm btn-primary" (click)="toggleCreateUserForm()">
                <i class="fas" [class.fa-add]="!showForm" [class.fa-arrow-left]="showForm"></i>
                {{ showForm ? 'Atrás' : 'Crear Usuario' }}
              </button>
          </div>
          <div class="card-body h-table">
            <div class="col-md-12 d-flex justify-content-end w-100">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar usuario">
                  <span class="input-group-text pointer bg-principal">
                    <i class="fas fa-search text-white"></i>
                  </span>
                </div>
              </form>
            </div>
            <div class="table-responsive mt-1 scroll-container">
              <table style="text-align: center;" class="table table-sm table-bordered table-hover">
                <thead class="table-dark">
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Email</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of users">
                    <td>{{ item.OauthId }}</td>
                    <td>{{ item.Nombre }}</td>
                    <td>{{ item.Descripcion }}</td>
                    <td>{{ item.Email }}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-warning" (click)="toggleCreateUserForm()" >
                            <i class="fas fa-edit"></i> 
                          </button>
                          <div class="vr mx-1 p-0"></div>
                          <button class="btn btn-sm btn-danger" >
                            <i class="fas fa-ban"></i> 
                          </button>
                    </td>
                  </tr>
                  <tr *ngIf="users.length === 0">
                    <td class="text-center" colspan="5">No hay usuarios</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="showForm">
        <div class="card">
          <div class="card-header">
            <span class="card-title"><b>Crear Usuario</b></span>
          </div>
          <div class="card-body">
            <form >
              <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input type="text" id="id" class="form-control"  name="id">
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control"  name="nombre">
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" id="descripcion" class="form-control"  name="descripcion">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control"  name="email">
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  