<div class="container">
  <div class="row">
    <div [class.col-md-8]="showForm" [class.col-md-12]="!showForm">
      <div class="card">
        <div class="card-header pt-3 pb-3 d-flex justify-content-between">
          <span class="card-title"><b>Roles</b></span>
          <button class="btn btn-sm btn-primary" (click)="createAndUpdte(null)">
            Crear Rol
          </button>
        </div>
        <div class="card-body h-table">
          <div class="col-md-12 d-flex justify-content-end w-100">
            <form>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Buscar Rol"
                />
                <span class="input-group-text pointer bg-principal">
                  <i class="fas fa-search text-white"></i>
                </span>
              </div>
            </form>
          </div>
          <div class="table-responsive mt-1 scroll-container">
            <table
              style="text-align: center"
              class="table table-sm table-bordered table-hover"
            >
              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Fecha Creación</th>
                  <th>Fecha Modificación</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listData; let i = index">
                  <td>{{ item.Id }}</td>
                  <td>{{ item.Nombre }}</td>
                  <td>{{ item.Descripcion }}</td>
                  <td>{{ item.Estado ? "Activo" : "Inactivo" }}</td>
                  <td>{{ item.FechaCreacion | date : "short" }}</td>
                  <td>{{ item.FechaModificado | date : "short" }}</td>
                  <td class="text-center">
                    modalshow
                    <button
                      class="btn btn-sm btn-warning"
                      (click)="createAndUpdte(item)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    <div class="vr mx-1 p-0"></div>
                    <button class="btn btn-sm btn-danger">
                      <i class="fas fa-ban"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="listData.length === 0">
                  <td class="text-center" colspan="7">No hay Roles</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalmypass"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <!-- Modal Header with Close Icon -->
      <div class="modal-header">
        <h5 class="modal-title">Crear Nuevo Rol</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <!-- Nombre -->
          <div class="col-md-12 mb-3">
            <label for="nombre" class="form-label text-black">Nombre</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre del Rol"
              autocomplete="off"
              name="Nombre"
              id="nombre"
              [(ngModel)]="role.Nombre"
              required
            />
          </div>

          <!-- Descripción -->
          <div class="col-md-12 mb-3">
            <label for="descripcion" class="form-label text-black"
              >Descripción</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Descripción del Rol"
              autocomplete="off"
              name="Descripcion"
              id="descripcion"
              [(ngModel)]="role.Descripcion"
              required
            />
          </div>
        </div>
        <div class="text-center">
          <button
            class="btn btn-primary"
            type="button"
          
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
